body{
    background-size: cover;
}
.heading{
    width: 90%;
    font-size: 20px;
    color: black;
    background-color: #D7BCE8;
    border-radius: 20px;
}
.note{
    color: black;
}
#button_song_name{
    background-color: #E8CEE4;
    font-size: 20px;
    outline: none;
}
canvas{
    background-color: pink;
    border: 5px solid purple;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #FDE2FF;
}